<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.it.mapper.BookMapper">

    <!--
        id: 类似方法名字
        parameterType: 方法传入参数的类型
        resultType：方法的返回类型(需要写pojo的完全限定名=包名+类名)
     -->
    <cache/>

    <insert id="saveBook" parameterType="Book">
        INSERT INTO t_book(bookname,bookprice,bookauthor,booknum,typeid,pubid,bookpic)
        VALUES (#{bookname},#{bookprice},#{bookauthor},#{booknum},#{typeid},#{pubid},'')
    </insert>

    <select id="findAllBook" resultType="Book">
        SELECT t_book.*,
        t_booktype.id AS 'bookType.id',t_booktype.booktype AS 'bookType.bookType',
        t_publisher.id AS 'publisher.id',t_publisher.pubname AS 'publisher.pubname'
        FROM t_book
        INNER JOIN t_booktype ON t_book.typeid = t_booktype.id
        INNER JOIN t_publisher ON t_book.pubid = t_publisher.id
        ORDER BY t_book.id DESC
    </select>

    <select id="findBookById" resultType="Book">
        SELECT * FROM t_book WHERE id = #{id}
    </select>

    <delete id="delBook" parameterType="int">
        DELETE FROM t_book WHERE id = #{id}
    </delete>

    <update id="updateBook" parameterType="Book">
        UPDATE t_book SET bookname=#{bookname},bookprice=#{bookprice},bookauthor=#{bookauthor},booknum=#{booknum},
        typeid=#{typeid},pubid=#{pubid},bookpic=#{bookpic} WHERE id=#{id}
    </update>

    <select id="count" resultType="long">
        SELECT count(*) FROM t_book
    </select>

    <select id="findByPage" resultType="Book">
        SELECT t_book.*,
        t_booktype.id AS 'bookType.id',t_booktype.booktype AS 'bookType.bookType',
        t_publisher.id AS 'publisher.id',t_publisher.pubname AS 'publisher.pubname'
        FROM t_book
        INNER JOIN t_booktype ON t_book.typeid = t_booktype.id
        INNER JOIN t_publisher ON t_book.pubid = t_publisher.id
        ORDER BY t_book.id DESC
        limit ${start},${size}
    </select>
    <select id="countByParam" resultType="Long">
        SELECT count(*) FROM t_book
        <where>
            <if test="bookname !=null and bookname != ''">
                bookname LIKE CONCAT('%',#{bookname},'%')
            </if>
            <if test="type != null and type != ''">
                and typeid = #{type}
            </if>
            <if test="publisher != null and publisher != ''">
                and publisher = #{publisher}
            </if>
        </where>
    </select>
    <select id="findByParam" resultType="Book">
        SELECT t_book.*,
        t_booktype.id as 'bookType.id',t_booktype.booktype as 'bookType.bookType',
        t_publisher.id as 'publisher.id',t_publisher.pubname as 'publisher.pubname'
        FROM t_book
        INNER join t_booktype ON t_book.typeid = t_booktype.id
        INNER JOIN t_publisher on t_book.pubid = t_publisher.id
        <where>
            <if test="bookname != null and bookname != ''">
                bookname LIKE CONCAT('%',#{bookname},'%')
            </if>
            <if test="type != null and type != ''">
                and typeid = #{type}
            </if>
            <if test="publisher != null and publisher != ''">
                and publisher = #{publisher}
            </if>
        </where>
        ORDER by t_book.id DESC
        limit ${start},${size}
    </select>
</mapper>