<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.it.mapper.UserMapper">
    <!--
        public Student findById(Integer id)
        int integer -> Integer
        _int -> int
        id: 类似方法名字
        parameterType: 方法传入参数的类型
        resultType：方法的返回类型(需要写pojo的完全限定名=包名+类名)
    -->

    <select id="findById" parameterType="int" resultType="User">
          SELECT * FROM t_work WHERE id = #{id}
    </select>

    <!--
    在jdbc中如何获取刚刚插入的自动增长的主键值(id)
     save(User user)
     useGeneratedKeys="true" 需要获取自动生成的增长主键值
     keyProperty= "id" 将主键值赋给参数对象的哪个属性（set XXX）

    -->



    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty= "id">
        INSERT INTO t_work(name,address)VALUES (#{name},#{address})
    </insert>
    
    <update id="update" parameterType="User">
        UPDATE t_work SET name=#{name},address=#{address} WHERE id=#{id}
    </update>

    <delete id="del" parameterType="int">
        DELETE FROM t_work WHERE id=#{id}
    </delete>

    <select id="findAll" resultType="User">
        SELECT * FROM t_work
    </select>

    <select id="findByMap" resultType="User" parameterType="map">
        SELECT * FROM t_node WHERE name = #{name} AND password = #{password}
    </select>

    <select id="findByParams" resultType="User">
        SELECT * FROM t_node WHERE name = #{name} AND password = #{pwd}
    </select>

    <select id="findByQueryParam" parameterType="map" resultType="User">
       SELECT * FROM t_user
        <where>
            <if test="username != null and username != ''">
                username=#{username}
            </if>
                <choose>
                    <when test="password != null and password != ''">
                        password=#{password}
                    </when>
                    <when test="email != null and email != ''">
                        email=#{emali}
                    </when>
                </choose>
        </where>



       <!--
       <where>
        <if test="username != null and username != ''">
            username = #{username}
        </if>
        <if test="password != null and password != ''">
            and password = #{password}
        </if>
        <if test="email != null and email != ''">
            and email = #{email}
        </if>
       </where>
       -->
    </select>

    <select id="findByPage" resultType="User">
        SELECT * FROM t_work limit ${start},${size}
    </select>

</mapper>        