<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!--注册别名-->
    <typeAliases>
        <typeAlias type="com.it.pojo.User" alias="User"/>
        <typeAlias type="com.it.pojo.Node" alias="Node"/>
        <typeAlias type="com.it.pojo.Topic" alias="Topic"/>
    </typeAliases>


    <!--环境：开发|测试|线上-->
    <environments default="test">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///zbd"/>
                <property name="username" value="root"/>
                <property name="password" value="920926"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///forum"/>
                <property name="username" value="root"/>
                <property name="password" value="920926"/>
            </dataSource>
        </environment>
    </environments>

    <!--加载mapper文件-->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/NodeMapper.xml"/>
        <mapper resource="mapper/TopicMapper.xml"/>
    </mappers>




</configuration>